{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-warning fade show" role="alert">
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}
<br/>
 {% for post in posts %}
 <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></h2><br/>
    <small>By: {{ post.poster.name }}</small><br/>
    {{ post.date_posted }}<br/>
    <br/><br/>
    {{ post.content|safe }}<br/>
        <a class="btn btn-outline-secondary btn-small" href="{{ url_for('post', id=post.id) }}">View Post</a>

        {% if post.poster_id == current_user.id %}
        <a class="btn btn-outline-secondary btn-small" href="{{ url_for('edit_post', id=post.id) }}">Edit Post</a>
        <a href="{{ url_for('delete_post', id = post.id) }}" class="btn btn-outline-danger btn-small">Delete Post</a>

        {% endif %}
    <br/><br/>
  </div><br/>

 {% endfor %}

{% endblock %}